registry=https://pkgs.dev.azure.com/rmpablos/botas/_packaging/botas-dev/npm/registry/ 
always-auth=true
@rido-min:registry=https://pkgs.dev.azure.com/rmpablos/botas/_packaging/botas-dev/npm/registry/ 
always-auth=true
@rido-min:registry=https://npm.pkg.github.com/rido-min
always-auth=true