OTEL_EXPORTER_OTLP_ENDPOINT=http://localhost:4317
OTEL_EXPORTER_OTLP_PROTOCOL=grpc
OTEL_SERVICE_NAME=otel-bot-node
# Set OTEL_RESOURCE_ATTRIBUTES so external systems (Aspire) pick up the service name consistently
OTEL_RESOURCE_ATTRIBUTES=service.name=otel-bot-node
OTEL_LOG_LEVEL=info
